.TreeMenuTitle {color: #888888; font: 18px Arial; font-weight: 600}
 
.XPBlueTopBack  {background-color: #6375D6}
.XPBlueMainBack {background-color: #6375D6; background-image: url(img/xpback.gif); background-repeat: no-repeat}
.XPBlueMenuBack {background-color: #7AA1E6; color: #FFFFFF; font: 10px Arial; font-weight: bold;}
.XPBlueHorLine  {background-color: #C5DFFF}
.XPBlueExTitle  {color: #D6DFF5; font: 16px Arial; font-weight: bold;}
.XPBlueText     {color: #FFFFFF; font: 11px Verdana; background-image: url();}
.XPBlueTitle    {color: #D6DFF5; font: 20px Arial; font-weight: bold; background-image: url();}
 
.Text     {color: #222222; font: 11px Verdana; background-image: url();}
.MainBack {background-color: #FFFFFF; color: #222222; font: 10px Arial; font-weight: bold}
.MenuBack {background-color: #CCCCCC; color: #FFFFFF; font: 10px Arial; font-weight: bold}
.TopBack  {background-color: #FFFFFF}
.ExTitle  {color: #999999; font: 16px Arial; font-weight: bold}

.ParamTitle    {color: #222222; font: 16px Arial; font-weight: bold}
.ParamBack     {background-color: #FFFFFF; font: 11px Verdana; font: 11px Verdana;}
.ParamTbl      {color: #333333; font: 11px Verdana; font: 11px Verdana;}
.ParamTblTitle {background-color: #CEE9F2; color: #444444; font: 11px Verdana; font-weight: bold;}
.ParamTblCell  {background-color: #ECF7F9; font: 11px Verdana; color: #222222;}


.StyleNameW    {color: #FFFFFF; font: 11px MS Sans Serif; font-weight: bold}
.StyleNameB    {color: #000000; font: 11px MS Sans Serif; font-weight: bold}

A.White:link          {font: 11px Verdana; color: #B5EDFF; text-decoration: none;}
A.White:hover         {font: 11px Verdana; color: #FFFFFF; text-decoration: underline;}
A.White:visited       {font: 11px Verdana; color: #D3CCFF; text-decoration: none;}
A.White:visited:hover {font: 11px Verdana; color: #FFFFFF; text-decoration: underline;}

A.Dark:link          {font: 11px Verdana; color: #3333DD; text-decoration: none;}
A.Dark:hover         {font: 11px Verdana; color: #5555FF; text-decoration: underline;}
A.Dark:visited       {font: 11px Verdana; color: #5555CC; text-decoration: none;}
A.Dark:visited:hover {font: 11px Verdana; color: #5555FF; text-decoration: underline;}

A.Black:link          {font: 11px Verdana; color: #FFFFFF; text-decoration: none;}
A.Black:hover         {font: 11px Verdana; color: #FFFFFF; text-decoration: underline;}
A.Black:visited       {font: 11px Verdana; color: #F3F3F3; text-decoration: none;}
A.Black:visited:hover {font: 11px Verdana; color: #FFFFFF; text-decoration: underline;}

A.MenuLink:link    {font: 10px Arial; color: #FFFFFF; text-decoration: none; font-weight: bold;}
A.MenuLink:hover   {font: 10px Arial; color: #FFFFFF; text-decoration: none; font-weight: bold;}
A.MenuLink:visited {font: 10px Arial; color: #FFFFFF; text-decoration: none; font-weight: bold;}

.MenuTable          {border-width: 0;}
.MenuItem           {border-width: 1; background-color: #628FE2; border-style: solid; border-color: #A0C0FF; color: #FFFFFF}
.MenuItemOver       {border-width: 1; background-color: #285BA5; border-style: solid; border-color: #FFFFFF; color: #000000; cursor: hand}

 